body{
background-color:#E99497;
}
.main
{
margin-top:150px;}

#start,#startingPlaces
{
margin:30px;
}
#end
{
margin-top:30px;
margin-left:150px;
margin-bottom:30px;
padding:auto50auto50;
}
#EndingPlaces
{
margin-left:70px;
margin-top:30px;
margin-bottom:30px;
}
#date
{
margin:30auto50auto;
}
#calendar
{
margin-left:185px;}

#checkBt
{
margin-top:30px;
}

